body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Pretendard', sans-serif;
  background: linear-gradient(180deg, #d6e1fa, #f8fafb);

  display: flex;
  flex-direction: column; /* 위쪽은 hero, 아래쪽은 footer */
}

.site-header {
  display: flex;
  width: 100vw;
  height: 62px;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: center;
}

/* 로그인 */
.login{
  margin-right: 30px;
}

/* 회원가입 */
.sign-up{
  margin-right: 30px;
}

/* 가운데 영역 */
.hero {
  flex: 1; /* 남는 공간 다 차지 → footer를 아래로 밀어줌 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex{
  position: fixed;
  display: flex;
  flex-direction: column;
}

/* 로고 타이틀 */
.logo-title {
  font-size: 70px;
  font-family: 'Paperlogy-7Bold', 'Pretendard', sans-serif;
  font-weight: bold;
  color: #1c64ff;
  margin-bottom: 20px;
}

/* 버튼 공통 스타일 */
.btn {
  display: block;
  width: 200px;
  padding: 12px 0;
  margin: 10px 0;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Pretendard-Bold', sans-serif;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: black;
  transition: background-color 0.2s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: all 0.2s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  color: #1c64ff;
}

.btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rank-card{
  position: relative;
  left: 350px;
  background: #fff;
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0,0,0,0.05);
}

.card-title{
  font-size: 25px;
  text-align: center;
  font-family: 'Pretendard-Bold', sans-serif;
}

.rank-list{
  background: #dae1f8;
  min-height: 320px;
  margin-top: 10px;
  border-radius: 10px;
}

/* footer */
.footer-copyright {
  text-align: center;
  padding: 20px 0;
  color: #888;
  font-size: 14px;
}

/* 반응형: 모바일 */
@media (max-width: 425px) {
  .flex{
    display: flex;
    flex-direction: column; 
    gap: 24px;
  }
}