.desktop {
  background-color: #efefef;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #efefef;
  width: 1280px;
  height: 720px;
  position: relative;
}

.desktop .group {
  position: absolute;
  width: 528px;
  height: 433px;
  top: 247px;
  left: 100px;
}

.desktop .overlap {
  position: relative;
  width: 524px;
  height: 433px;
  background-color: #ffffff;
  border-radius: 16px;
}

.desktop .overlap-group {
  position: absolute;
  width: 463px;
  height: 234px;
  top: 104px;
  left: 30px;
  border-radius: 16px;
  border: 3px dashed;
  border-color: #ffb4c2;
}

.desktop .group-2 {
  position: relative;
  width: 206px;
  height: 167px;
  top: 30px;
  left: 128px;
}

.desktop .JPG-JPEG-PNG-WEBP {
  position: absolute;
  top: 85px;
  left: 0;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #505050;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div-wrapper {
  position: absolute;
  width: 60px;
  height: 73px;
  top: -2px;
  left: 71px;
  background-image: url(https://c.animaapp.com/T8Qt5Cv7/img/icon.svg);
  background-size: 100% 100%;
}

.desktop .text-wrapper {
  position: absolute;
  top: 34px;
  left: 19px;
  font-family: "Paperlogy-7Bold", Helvetica;
  font-weight: 700;
  color: #757575;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame {
  justify-content: center;
  padding: 10px 16px;
  position: absolute;
  top: 133px;
  left: 52px;
  border-radius: 9px;
  border: 1.5px solid;
  border-color: #f56883;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.desktop .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.50px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #f56883;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 24px;
  left: 32px;
  font-family: "Paperlogy-7Bold", Helvetica;
  font-weight: 700;
  color: var(--color-text-neutral-default);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .p {
  position: absolute;
  top: 51px;
  left: 32px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #505050;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .frame-2 {
  justify-content: center;
  padding: 12px 32px;
  position: absolute;
  top: 368px;
  left: 151px;
  background-color: #bababa;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.desktop .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-3 {
  justify-content: center;
  padding: 12px 32px;
  position: absolute;
  top: 368px;
  left: 272px;
  border-radius: 12px;
  border: 2px solid;
  border-color: #e5e5ea;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.desktop .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -2.00px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: var(--color-text-brand-secondary);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-2 {
  position: absolute;
  width: 528px;
  height: 582px;
  top: 98px;
  left: 656px;
}

.desktop .group-3 {
  position: absolute;
  width: 528px;
  height: 582px;
  top: 0;
  left: 0;
}

.desktop .overlap-3 {
  position: absolute;
  width: 524px;
  height: 175px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 16px;
}

.desktop .overlap-4 {
  position: absolute;
  width: 524px;
  height: 391px;
  top: 191px;
  left: 0;
  background-color: #ffffff;
  border-radius: 16px;
}

.desktop .rectangle {
  width: 356px;
  height: 84px;
  top: 67px;
  left: 136px;
  position: absolute;
  background-color: #ffe4e9;
  border-radius: 12px;
}

.desktop .rectangle-2 {
  width: 460px;
  height: 57px;
  top: 258px;
  left: 32px;
  position: absolute;
  background-color: #ffe4e9;
  border-radius: 12px;
}

.desktop .rectangle-3 {
  width: 460px;
  height: 57px;
  top: 331px;
  left: 32px;
  position: absolute;
  background-color: #ffe4e9;
  border-radius: 12px;
}

.desktop .rectangle-4 {
  width: 460px;
  height: 57px;
  top: 404px;
  left: 32px;
  position: absolute;
  background-color: #ffe4e9;
  border-radius: 12px;
}

.desktop .ellipse {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 73px;
  left: 32px;
  background-color: #f56883;
  border-radius: 36px;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 100px;
  left: 52px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  position: absolute;
  width: 327px;
  top: 86px;
  left: 150px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--color-text-neutral-default);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22.4px;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 423px;
  left: 52px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--color-text-neutral-default);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 277px;
  left: 52px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--color-text-neutral-default);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  position: absolute;
  top: 350px;
  left: 52px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: var(--color-text-neutral-default);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-4 {
  position: absolute;
  top: 517px;
  left: 122px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.desktop .frame-5 {
  justify-content: center;
  padding: 12px 32px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 12px;
  border: 2px solid;
  border-color: #e5e5ea;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.desktop .frame-6 {
  justify-content: center;
  padding: 12px 32px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f56883;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 39px;
  left: 100px;
  font-family: "Paperlogy-7Bold", Helvetica;
  font-weight: 700;
  color: #f56883;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .overlap-wrapper {
  position: absolute;
  width: 528px;
  height: 133px;
  top: 98px;
  left: 100px;
}

.desktop .overlap-5 {
  position: relative;
  width: 524px;
  height: 133px;
  background-color: #ffffff;
  border-radius: 16px;
}

.desktop .overlap-group-2 {
  position: absolute;
  width: 460px;
  height: 52px;
  top: 65px;
  left: 32px;
  background-color: #ffe4e9;
  border-radius: 15px;
}

.desktop .text-wrapper-12 {
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #f56883;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
